/**
 * Custom theme for presentations
 */
section.has-light-background, section.has-light-background h1, section.has-light-background h2, section.has-light-background h3, section.has-light-background h4, section.has-light-background h5, section.has-light-background h6 {
  color: #222; }
@import url('https://fonts.googleapis.com/css?family=Boogaloo|Dosis|Vast+Shadow|Maven+Pro');
@import url(../../lib/font/leafy/leafy.css);

/*********************************************
 * PERSONAL VARIABLES
 *********************************************/
$primary: #5B82D4; /*blue*/
$secondary: #E5E9F6; /*pale blue*/
$base1: #F2E38A; /*yellow*/
$base2: #C687E8; /*lilac*/
$base3: #F8757F; /*coral*/
$base4: #BDE16B; /*green*/
$black: #000;
$white: #fff;
$dark-gray: #2f3441;

$display-font: 'Vast Shadow', cursive;
$title-font:'Leafy', Boogaloo, cursive;
$base-font: 'Dosis', sans-serif;

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #222;
  background-color: #222; }

.reveal {
  font-family: $base-font;
  font-size: 42px;
  font-weight: normal;
  color: #fff; }

::selection {
  color: $white;
  background: $base2;
  text-shadow: none; }

::-moz-selection {
  color: #fff;
  background: #bee4fd;
  text-shadow: none; }

.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  font-family: $title-font;
  font-weight:  normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: none;
  color: $base4;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 2.5em; }

.reveal h2 {
  font-size: 1.6em; }

.reveal h3 {
  font-size: 1.3em;
  &.dark{
    color: $dark-gray;
  }
}

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: 1.3; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold;
  color: $base3;
}

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal q,
.reveal blockquote {
  quotes: none; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
  color: $secondary;
 }

.reveal code {
  font-family: monospace;
  color: $secondary;
  font-size: 0.95em;
 }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal;}

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super; }

.reveal sub {
  vertical-align: sub; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: $base2;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: darken($base2, 25%);
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #068de9; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 10px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #42affa;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
 .reveal .controls button{
   border-radius: 0.3rem;
 }
.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
  border-right-color: $base2;
 }

.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
  border-left-color: $base2; }

.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled {
  border-bottom-color: $base2; }

.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled {
  border-top-color: $base2; }

.reveal .controls .navigate-left.enabled:hover {
  border-right-color: darken($base2, 25%); }

.reveal .controls .navigate-right.enabled:hover {
  border-left-color:  darken($base2, 25%); }

.reveal .controls .navigate-up.enabled:hover {
  border-bottom-color:  darken($base2, 25%);  }

.reveal .controls .navigate-down.enabled:hover {
  border-top-color:  darken($base2, 25%);  }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: $base2;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/****************************/
/* Custom slides            */
/****************************/
.dark-diagonal{
    height: auto;
    background-color: $black;
    background: linear-gradient(35deg, #2f3441 50%, #212531 50%);
  }

.vertical-line{
  height: auto;
  background-color: $black;
  background: linear-gradient(90deg, #2f3441 50%, $white 50%);
}

.two-colors{
  height: auto;
  background-color: $black;
  background: linear-gradient(to right,
    $base1 49%,
    $white 49%,
    $white 50%,
    $dark-gray 50%
  )
}


.items-block {
    display: flex;
    font-family: $base-font;

    .single-block {
    width: 100%;
    display: flex;
    padding: 10px;

        &.single1 {
            width:50%;
            color: $black;
         }

        &.single2 {
            width: 50%;
            color: $secondary;
        }
    }
}

.item-img {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;

    .item-img img {
        max-width: 100%;
    }
}
/****************************/
/* Custom text          */
/****************************/
.reveal accent-text{
  font-weight: bold;
  background: $base3;
  color: $white;
  padding: 3px 8px 5px 8px;
}

.reveal display-text{
  color: $white;
  background: $primary;
  font-family: $title-font;
  font-size: 1.5em;
  margin: 0 0 20px 0;
  line-height: 1.2;
  padding-top: 10px;
}


.reveal section img {
  margin: 0;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid $secondary;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  max-height: 90%;
}
